
CompileFlags:
  Add: 
    - "-std=c++17"
    - "--gcc-toolchain=/usr"
    - "-isystem/usr/include/c++/12"
    - "-isystem/usr/include/x86_64-linux-gnu/c++/12"
    - "-isystem/usr/lib/gcc/x86_64-linux-gnu/12/include"
    - "-isystem/usr/lib/gcc/x86_64-linux-gnu/12/include-fixed"
